*.class

# Settings and binary files
*.dat

# Package Files #
*.jar
*.war
*.ear
/bin

# For Eclipse
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.classpath
.project

# Apache Maven
target/

*.log
*.db/
lastUser.txt
*.autosave
